{{ form_start(form, {'action': path('resource_admin_update', {id: id})}) }}
<div class="mb-3 row">
    {{ form_row(form.createdBy) }}
</div>
<div class="mb-3 row">
    {{ form_row(form.name) }}
</div>
<div class="mb-3 row">
    {{ form_widget(form.content,{ 'attr': {'rows': '6'} }) }}
</div>

{{ form_end(form) }}
