{% extends 'base.html.twig' %}

 {% block title %}Ressources Relationnelles - Page Accueil{% endblock %}

 {% block body %}
     <div class="col m-3">
         <div class="text-center  mx-auto row col-8">
             <div class="justify-content-center card rounded border-1 bg-info p-3">
                 <div class="card-title">Rechercher une ressource</div>
                 <div class="content">
                     <input id="searchbox" type="text">
                 </div>
             </div>
         </div>
         <div class="d-flex col-10 justify-around mx-auto">
             <div class="nav flex-column d-none d-md-block nav-pills m-3 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                 <button class="nav-link active" id="v-pills-all-tab" data-bs-toggle="pill" data-bs-target="#v-pills-all" type="button" role="tab" aria-controls="v-pills-all" aria-selected="true">Toutes les catégories<span class="badge bg-info">{{ resources | length }}</span></button>
                 {% for category in categories %}
                     <button class="nav-link" id="v-pills-{{ category.id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ category.id }}" type="button" role="tab" aria-controls="v-pills-all" aria-selected="true">{{ category.name }}
                         <span class="badge bg-info rounded-pill">{{ category.resources | length }}</span></button>
                 {% endfor %}
             </div>
             <div class="tab-content col-10 mx-10" id="v-pills-tabContent">
                 <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                     <div class="row">
                         {% for resource in resources %}
                             {% include '/pages/resource/resourceTable.home.html.twig' %}
                         {% endfor %}
                     </div>
                 </div>
                 {% for category in categories %}
                     <div class="tab-pane fade" id="v-pills-{{ category.id }}" role="tabpanel" aria-labelledby="v-pills-{{ category.id }}-tab">
                         <div class="row">
                             {% for resource in resources %}
                                 {% if resource.category.id == category.id %}
                                     {% include '/pages/resource/resourceTable.home.html.twig' %}
                                 {% endif %}
                             {% endfor %}
                         </div>
                     </div>
                 {% endfor %}
             </div>
         </div>

         <script>
             $(document).ready(function() {
                 $("#searchbox").on("keyup", function() {
                     var value = $(this).val().toLowerCase();
                     console.log(value)
                     $('div[data-role="resource"]').filter(function() {
                         $(this).toggle($(this).find('h6').text().toLowerCase().indexOf(value) > -1)
                     });
                 });
             });
         </script>
     </div>




 {% endblock %}
