{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} <h1> Bienvenue sur Ressources Relationnelles</h1> {% endblock %}

 {% block body %}


     <div class="row">
     {% for resource in resources %}
         <div class="card rounded m-3 p-0" style="width: 18rem;">
{#         {% for relation in resource.relationType %}#}
             {% if resource.category.name == 'Santé psychique' %}
                 <div class="card-title rounded bg-info text-center p-2" style="height: 7rem;">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Monde professionnel' %}
                 <div class="card-title rounded bg-danger text-center p-2" style="height: 7rem;">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Communication' %}
                 <div class="card-title rounded bg-primary text-center p-2" style="height: 7rem;">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Loisirs' %}
                 <div class="card-title rounded bg-success text-center p-2" style="height: 7rem;">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Qualité de vie' %}
                 <div class="card-title rounded bg-success text-center p-2" style="height: 7rem;">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Intelligence émotionnelle' %}
                 <div class="card-title rounded text-center p-2" style="height: 7rem; background-color: #1bbf83">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Développement personnel' %}
                 <div class="card-title rounded text-center p-2" style="height: 7rem; background-color: #9eebcf">
                     <h6>{{ resource.name }}</h6>
                 </div>
             {% elseif resource.category.name == 'Spiritualité' %}
                 <div class="card-title rounded text-center p-2" style="height: 7rem; background-color: #f1b157">
                     <h6>{{ resource.name }}</h6>
                 </div>
{#                 {% else %}#}
{#                     <div class="card-title rounded bg-primary text-center p-2" style="height: 7rem;">#}
{#                         <h6>{{ resource.name }}</h6>#}
{#                     </div>#}
             {% endif %}
{#             <h6>{{ resource.name }}</h6>#}
{#             </div>#}
{#         {% endfor %}#}
         <div class="card-body">
             <span class="text-start">Crée par {{ resource.createdBy.username }}</span>
             <br>
             <span class="text-start fs-6">Le {{ resource.createdAt }}</span>
             {# <br> #}
             <span class="badge bg-light m-1">{{ resource.category.name }}</span>
             {# <br> #}
             <span class="badge bg-info m-1">{{ resource.resourceType }}</span>
             {# <br> #}
             {% for relation in resource.relationType %}
                 <span class="badge bg-primary text-dark m-1 ">{{ relation.name }}</span>
             {% endfor %}
             <br>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                 content.</p>

         </div>
         <div class="card-footer text-center">
             <a href="#" class="btn btn-primary text-center">Consulter la ressource</a>
         </div>
         </div>
     {% endfor %}
     </div>


 {% endblock %}
