{% include 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('/admin/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#ressourcesList', {
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher les  _MENU_ premiers",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% set newResources = 0 %}
    {% set publishResources = 0 %}
    {% set deleteResources = 0 %}
    {% for resource in resources %}
        {% if resource.status == 'Créé' %}
            {%  set newResources = newResources + 1 %}
        {% elseif resource.status == 'Publié' %}
            {% set publishResources = publishResources + 1 %}
        {% else %}
            {% set deleteResources = deleteResources + 1 %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-2" style="background-color: #03989E">
            <nav class="pt-5">
                <ul class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                    <li data-status="tous" style="background-color: #03989E; color: white; border: #03989E"
                        class="nav-link active" id="created" data-bs-toggle="tab" data-bs-target="#nav-all" role="tab"
                        aria-controls="nav-all" aria-selected="true">Toutes les ressources <span
                                class="badge bg-light">{{ resources | length }}</span>
                    </li>
                    <li data-status="Créé" style="background-color: #03989E; color: white; border: #03989E"
                        class="nav-link" id="nav-created-tab" data-bs-toggle="tab" data-bs-target="#nav-created"
                        role="tab" aria-controls="nav-created" aria-selected="false">A valider <span
                                class="badge bg-light">
                            {{ newResources }}
                        </span>
                    </li>
                    <li data-status="Publié" style="background-color: #03989E; color: white; border: #03989E"
                        class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        role="tab" aria-controls="nav-validated" aria-selected="false">Publiées <span
                                class="badge bg-light">
                            {{ publishResources }}
                        </span>
                    </li>
                    <li data-status="Supprimé" style="background-color: #03989E; color: white; border: #03989E"
                        class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        role="tab" aria-controls="nav-validated" aria-selected="false">Supprimées <span
                                class="badge bg-light">
                            {{ deleteResources }}
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-10 p-5">
            <h3 class="p-2">Modérer les ressources</h3>


                <table id="ressourcesList" class="table table-bordered border-light">
                    <thead>
                    <tr class="header-table">
                        <th scope="col">Titre</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Catégorie(s)</th>
                        <th scope="col">Type de resource</th>
                        <th scope="col">Types de relation</th>
                        <th scope="col">Nombre de commentaires</th>
                        <th scope="col">Statut</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resource in resources %}
                        <tr data-role="resource">
                            <td>{{ resource.name }}</td>
                            <td class="text-center">{{ resource.createdAt }}</td>
                            <td>{{ resource.createdBy.username }}</td>
                            <td class="text-center">
                                <span class="badge category mb-2 ">{{ resource.category.name }}</span>

                            </td>
                            <td class="text-center">
                                <span class="badge resourceType mb-2 ">{{ resource.resourceType }}</span></td>
                            <td class="text-center">
                                {% for relation in resource.relationType %}
                                    <span class="badge relationType mb-2 ">{{ relation.name }}</span>
                                {% endfor %}
                            </td>
                            <td class="text-center">{{ resource.comments | length }}</td>
                            <td class="text-center">
                                {{ resource.status }}
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#updateResourceModal-{{ resource.id }}">Modifier
                                </button>
                                {% if resource.status != 'Supprimé' %}
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteResourceModal-{{ resource.id }}">Supprimer
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% set submit_url = path('resource_admin_update', {'id': resource.id}) %}
                        {{ include('/includes/resource/updateResourceModal.admin.html.twig', {url: submit_url}) }}
                        {% include'/includes/resource/deleteResourceModal.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
{#            </div>#}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#adminCommentTable').DataTable({
                ordering: true
            });

            $('#nav-tab li').on("click", function () {
                var value = $(this).attr('data-status');

                $('tr[data-role="resource"]').filter(function () {
                    if (value !== 'tous') {
                        $(this).show()
                        if ($(this).find('td').text().indexOf(value) === -1) {
                            $(this).hide()
                        }
                    } else {
                        $(this).show()
                    }
                });
            });
        });
    </script>

{% endblock %}
