<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('images/logo-app.png') }}"
                                              alt="Logo de l'application"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                {% if app.user and is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ressourcesDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Ressources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ressourcesDropdown">
                            <li><a class="dropdown-item" href="{{ path('ressources_create') }}">Créer une ressource</a></li>

                            <li><a class="dropdown-item" href="{{ path('ressources_list') }}">Voir la liste de mes ressources</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="d-flex">
                {% if app.user %}
                    <a class="btn btn-success" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary" style="margin-right: 5px;">Se
                        connecter</a>
                    <a href="{{ path('creation_compte') }}" class="btn btn-primary">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>