<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% if is_granted('ROLE_MODERATOR') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comment_admin_list') }}">Modérer les commentaires</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resources_admin') }}">Modérer les ressources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_list') }}">Gérer les comptes</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('comment_admin_list') }}">Statistiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('comment_admin_list') }}">Catégories</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

            {% if app.user %}
                <span class="navbar-text">{{ app.user.username }}</span>
            {% endif %}
        </div>


        <div class="d-flex">
            {% if app.user %}
                <a class="btn btn-success" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-primary" style="margin-right: 5px;">Se connecter</a>
                <a href="{{ path('creation_compte') }}" class="btn btn-primary">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</nav>

