{% extends 'base.html.twig' %}

{% block title %}Ajouter une Ressource{% endblock %}
{% block body %}

    </br>
    <div class="container">
        <div class="RessourcesAddBox">
            <div>
                <h2> Remplissez ce formulaire afin de créer une ressource ! </h2>
            </div>
            {{form_start(form)}}
            <div class="row">
                <div class="form-floating mb-3 col-5">
                    {{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}
                    {{ form_label(form.name, 'Nom') }}
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-5">
                    {{ form_widget(form.category, {'attr': {'placeholder': 'Veuillez choisir une catégorie'}}) }}
                    {{ form_label(form.category, 'Catégorie') }}
                </div>
                <div class="form-floating mb-3 col-5">
                    {{ form_widget(form.relationType, {'attr': {'placeholder': 'Veuillez choisir une ou plusieurs relations'}}) }}
                    {{ form_label(form.relationType, 'Relations') }}
                </div>
                <div class="form-floating mb-3 col-5">
                    {{ form_widget(form.resourceType, {'attr': {'placeholder': 'Veuillez choisir un type de ressource'}}) }}
                    {{ form_label(form.resourceType, 'Type de ressource') }}
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3">
                    {{ form_widget(form.content, {'attr': {'placeholder': 'Veuillez remplir le contenu'}}) }}
                    {{ form_label(form.content, 'Contenu') }}
                </div>
            </div>
            </br>

            <div class="mt-5 text-center">
                <button type='submit' class='btn btn-success'>Ajouter une ressource</button>
            </div>
        </div>
        {{form_end(form)}}
    </div>

{% endblock %}