{% include 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('/admin/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#usersList', {
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher les  _MENU_ premiers",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    {{ dump(users) }}
    {% set userAccounts = 0 %}
    {% set moderatorAccounts = 0 %}
    {% set Administrateur = 0 %}
    {% set superAdminAccounts = 0 %}
    {% for user in users %}
        {% for role in user.roles %}
            {% if role == 'ROLE_USER' %}
                {%  set userAccounts = userAccounts + 1 %}
            {% elseif role == 'ROLE_MODERATOR' %}
                {% set moderatorAccounts = moderatorAccounts + 1 %}
            {% elseif role == 'ROLE_ADMIN' %}
                {% set Administrateur = Administrateur + 1 %}
            {% else %}
                {% set superAdminAccounts = superAdminAccounts + 1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
<div class="row">
    <div class="col-2" style="background-color: #03989E">
        <nav class="pt-5">
            <ul class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                <li data-status="tous" style="background-color: #03989E; color: white; border: #03989E"
                    class="nav-link active" id="created" data-bs-toggle="tab" data-bs-target="#nav-all" role="tab"
                    aria-controls="nav-all" aria-selected="true">Toutes les ressources <span
                            class="badge bg-light">{{ users | length }}</span>
                </li>
                <li data-status="Créé" style="background-color: #03989E; color: white; border: #03989E"
                    class="nav-link" id="nav-created-tab" data-bs-toggle="tab" data-bs-target="#nav-created"
                    role="tab" aria-controls="nav-created" aria-selected="false">Utilisateurs <span
                            class="badge bg-light">
                            {{ userAccounts }}
                        </span>
                </li>
                <li data-status="Publié" style="background-color: #03989E; color: white; border: #03989E"
                    class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    role="tab" aria-controls="nav-validated" aria-selected="false">Publiées <span
                            class="badge bg-light">
                            {{ moderatorAccounts }}
                        </span>
                </li>
                <li data-status="Supprimé" style="background-color: #03989E; color: white; border: #03989E"
                    class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    role="tab" aria-controls="nav-validated" aria-selected="false">Supprimées <span
                            class="badge bg-light">
                            {{ Administrateur }}
                        </span>
                </li>
                <li data-status="Supprimé" style="background-color: #03989E; color: white; border: #03989E"
                    class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    role="tab" aria-controls="nav-validated" aria-selected="false">Supprimées <span
                            class="badge bg-light">
                            {{ superAdminAccounts }}
                        </span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-10 p-5">
        <h3 class="p-2">Gérer les comptes</h3>
        <div class="d-flex justify-content-center">
            <table id="usersList" class="table table-bordered border-light" style="flex-wrap: wrap!important;">
                <thead>
                <tr class="header-table">
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Date d'inscription</th>
                    <th scope="col">Compte actif</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.createdAt }}</td>
                        <td>
                            {{ render(controller('App\\Controller\\UserController:updateIsActiveUser',
                                {id: user.id, save: path('user_update_is_active', {id: user.id}) })) }}
                        </td>
                        <td class="mx-auto">
                            {{ render(controller('App\\Controller\\UserController:updateRoleUser',
                                {id: user.id, save: path('user_update_role', {id: user.id}) })) }}
                        </td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
