{% extends 'base.html.twig' %}

{% block title %}
    Votre profil
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#ressourcesList', {
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher les _MENU_ premiers",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="profil">
            <h3 class="text-center"> Mon profil</h3>
            <ul>
                <li><i class="fa-solid fa-user-graduate"></i> {{ user.username }}</li>
                <li><i class="fa-solid fa-location-dot"></i> {{ user.address1 }}</li>
                {% if(user.address2 !='') %}
                    <li><i class="fa-solid fa-location-dot"></i> {{ user.address2 }}</li>
                {% endif %}
                <li><i class="fa-solid fa-map-location"></i> {{ user.postalCode }}</li>
                <li><i class="fa-solid fa-city"></i> {{ user.city }}</li>
                <li><i class="fa-solid fa-cake-candles"></i> {{ user.birthday | date('d/m/Y') }}</li>
                <li><i class="fa-solid fa-user-tie"></i> {{ user.socialSituation }}</li>
                <li><a class="btn btn-res" href="{{ path('profil_edit', {'id': app.user.id}) }}">
                        <i class="fa-solid fa-user-pen"></i> Modifier vos informations
                    </a></li>
            </ul>

        </div>
        <div>
            <h3 class="text-center"> Mes ressources : </h3>
            <div class="table-responsive">
                <table id="ressourcesList" class="table table-light table-striped">
                    <thead>
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-2"> Nom</th>
                        <th class="col-2"> Type de Ressource</th>
                        <th class="col-2"> Catégorie</th>
                        <th class="col-2"> Type de Relations</th>
                        <th class="col-2"> Visibilité</th>
                        <th class="col-2"> Status</th>
                        <th class="col-4"> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ressource in ressources %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ ressource.name }}</td>
                            <td>{{ ressource.resourceType }}</td>
                            <td>{{ ressource.category.name }}</td>
                            <td>
                                <ul class="table-list">
                                    {% for relation in ressource.relationType %}
                                        <li>{{ relation.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">
                                <span>{{ ressource.visibility }}</span>
                            </td>
                            {% if ressource.status == 'Supprimé' %}
                                {% set classBadge = 'danger' %}
                            {% elseif ressource.status == 'Publié' %}
                                {% set classBadge = 'success' %}
                            {% elseif ressource.status == 'En attente de validation' %}
                                {% set classBadge = 'info' %}
                            {% else %}
                                {% set classBadge = 'primary' %}
                            {% endif %}
                            <td class="text-center">
                                <span class="badge bg-{{ classBadge }}">{{ ressource.status }}</span>
                            </td>
                            <td class="td-button">
                                {% if ressource.status == 'Supprimé' %}
                                    <button class="btn btn-success" disabled><i
                                                class="fa-solid fa-eye fa-2xs"></i></button>
                                {% else %}
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-success"
                                           href="{{ path('ressources_consult', {'id': ressource.id}) }}"><i
                                                    class="fa-solid fa-eye fa-2xs"></i></a>
                                        <a class="btn btn-danger"
                                           href="{{ path('ressources_deleteRes', {'id': ressource.id}) }}"><i
                                                    class="fa-solid fa-trash-can fa-2xs"></i></a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

